{% load static %}

<div class="homenav">
    <div class="logo">
        <img src="{% static "image/logo.png" %}" alt="">
    </div>
    <nav>
        <a href="{% url "home" %}">Home</a>
        {% comment %} <a href="About">About</a> {% endcomment %}
        <a href="{% url "shop" %}">Shop</a>
        <a href="categories">Categories</a>
    </nav>
    <img src="{% static "image/menu.png" %}" alt="" id="Menubtn">
    
    
    {% if user.is_authenticated %}
    <div class="user-div">
        <a href="{% url "shopping-cart" %}" class="icon-cart">
            <img src="{% static "image/cart.png" %}" alt="">
            <span>0</span>
        </a>
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="">
            <img src="{% static "image/buy-1.jpg" %}" alt="">
        </a>
        <a href="{% url "logout" %}">
            <span>
                logout
            </span>
        </a>
    </div>

    {% else %}
    <div class="register-btn">
        <a href="{% url "login" %}">
            <span>
                Login
            </span>
        </a>
        <a href="{% url "register" %}">
            <span>
                Sign Up
            </span>
        </a>

    </div>
    {% endif %}
</div>