{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "style/styless.css" %}">
   <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      />
</head>
<body>
  {% include "navbar.html" %}
  {% comment %} {% block content %} {% endcomment %}
  <div class="product-banner">
      <h1>
          Shop List
      </h1>
      <div class="route">
          <a href="">Home</a>&nbsp; /
          <a href="">Shop</a>&nbsp;/
          <a href="">Single Product</a>
      </div>
  </div>
  

      <section class="products">
        {% comment %}
        <div class="filter">
          <h2>Categories</h2>
          <ul>
            <li><a href="{% url "categories" "fertilizers" %}">Fruits</a></li>
            <li><input type="checkbox" /> Vegetables</li>
            <li><input type="checkbox" /> Food</li>
            <li><input type="checkbox" /> Meat</li>
          </ul>
          <input type="checkbox" name="" id="">
          <select name="" id="">
            
          </select>
        </div>
        {% endcomment %}

        <div class="product-list">
          <div class="search-bar">
            <form action="{% url "shop" %}" method="GET">
              {% csrf_token %}
              <input name="q" placeholder="search products">
            </form>
          </div>
          <div class="products-grid">
            <!-- Product cards -->
             {% for product in products %}
             <div class="product-card">
               <img src="{{product.image.url}}" alt="Apple" />
              
              <h3>{{product.name}}</h3>
               <small>
                {{product.categories}}
              </small>
              <span class="stars" style="color: yellow">★★★★★</span>
               <p>#{{product.price}}</p>
               {% comment %} <a href="{% url "product" product.id %}">
                view product
               </a> {% endcomment %}
               <a href="{% url 'add_to_cart' product.id %}">
                 <button type="button" class="addtocart" value="{{product.id}}" id="add-cart">Add to cart</button>
                </a>

             </div>
             {% endfor %}
            
          </div>
          <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">&gt;</a>
          </div>
        </div>
      </section>
    
    
      {% comment %} <script>


        // Check if button pressed
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "cart_add" %}',
                data: {
                    product_id: $('#add-cart').val(),
                    product_qty: $('#qty-cart option:selected').text(),
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post'
                },
                
                success: function(json){
                    //console.log(json)
                    document.getElementById("cart_quantity").textContent = json.qty
                },
                error: function(xhr, errmsg, err){
    
                }
            });
        })
    
    </script> {% endcomment %}
{% include "footer.html" %}
</body>
</html>
{% comment %} {% endblock %} {% endcomment %}