{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static "style/styless.css" %}">
 <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

{% include "navbar.html" %}
{% block content %}
<div class="product-banner">
    <h1>
        Shop List
    </h1>
    <div class="route">
        <a href="">Home</a>&nbsp; /
        <a href="">Shop</a>&nbsp;/
        <a href="">Single Product</a>
    </div>
</div>



    
      <section class="products">
        {% comment %} <div class="filter">
          <h2>Categories</h2>
          <ul>
            <li><a href="{% url "categories" "fertilizers" %}">Fruits</a></li>
            <li><input type="checkbox" /> Vegetables</li>
            <li><input type="checkbox" /> Food</li>
            <li><input type="checkbox" /> Meat</li>
          </ul>
          <input type="checkbox" name="" id="">
          <select name="" id="">
            
          </select>
        </div> {% endcomment %}

        <div class="product-list">
          <div class="search-bar">
            <form action="{% url "shop" %}" method="GET">
              {% csrf_token %}
              <input name="q" placeholder="search products">
            </form>
          </div>
          <div class="products-grid">
            <!-- Product cards -->
             {% for product in products %}
             <div class="product-card">
               <img src="{{product.image.url}}" alt="Apple" />
               <h3>{{product.name}}</h3>
               <small>
                {{product.categories}}
              </small>
              <span class="stars" style="color: yellow">★★★★★</span>
               <p>#{{product.price}}</p>
               <a href="{% url 'add_to_cart' product.id %}">
                 <button type="button" class="addtocart" value="{{product.id}}" id="add-cart">Add to cart</button>
                </a>

             </div>
             {% endfor %}
            {% comment %} <div class="product-card">
              <img src="{% static "image/watermelon.png" %}" alt="Water Melon" />
              <h3>Water Melon</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/banana.png" %}" alt="Banana" />
              <h3>Banana</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/peaches.png" %}" alt="Peaches" />
              <h3>Peaches</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/pineapple.png" %}" alt="Pineapple" />
              <h3>Pineapple</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/blueberries.png" %}" alt="Blueberries" />
              <h3>Blueberries</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/pumpkin leaf.jpeg" %}" alt="Pumpkin Leaf" />
              <h3>Pumpkin Leaf</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/cucumber.png" %}" alt="Cucumber" />
              <h3>Cucumber</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/pumpkin.png" %}" alt="Pumpkin" />
              <h3>Pumpkin</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/corn.png" %}" alt="Corn" />
              <h3>Corn</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/ricebag.png" %}" alt="Rice" />
              <h3>Rice</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div>
            <div class="product-card">
              <img src="{% static "image/beef.png" %}" alt="Beaf" />
              <h3>Beaf</h3>
              <div class="stars" style="color: yellow">★★★★★</div>
              <p>$14.00</p>
            </div> {% endcomment %}
          </div>
          <div class="pagination">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">&gt;</a>
          </div>
        </div>
      </section>
    
    
      {% comment %} <script>


        // Check if button pressed
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "cart_add" %}',
                data: {
                    product_id: $('#add-cart').val(),
                    product_qty: $('#qty-cart option:selected').text(),
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post'
                },
                
                success: function(json){
                    //console.log(json)
                    document.getElementById("cart_quantity").textContent = json.qty
                },
                error: function(xhr, errmsg, err){
    
                }
            });
        })
    
    </script> {% endcomment %}
{% include "footer.html" %}
{% endblock %}