{% load static %}
<link rel="stylesheet" href="{% static "styles/styles.css" %}">
{% include "navbar.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
<style type="text/css">
    body { font-family: 'open sans'; }
</style>
<div class="product-banner">
    <h1>
        Single Products
    </h1>
    <div class="route">
        <a href="">Home</a>&nbsp; /
        <a href="">Shop</a>&nbsp;/
        <a href="">Single Product</a>
    </div>
</div>

<img src="{{product.image.url}}" alt="">
<img src="{{product.imagesample1.url}}" alt="">
<img src="{{product.imagesample2.url}}" alt="">

{% endblock content %}